# Recreate Washington Post's Data Analysis

In [1]:
import pandas as pd

In [6]:
ccy = pd.read_csv('data-2C-beyond-the-limit-usa/data/processed/climdiv_county_year.csv')

In [7]:
pd.read_csv('data-2C-beyond-the-limit-usa/data/processed/climdiv_national_year.csv')

     year       temp      tempc
0    1895  50.337500  10.187500
1    1896  51.993333  11.107407
2    1897  51.556667  10.864815
3    1898  51.431667  10.795370
4    1899  51.009167  10.560648
..    ...        ...        ...
120  2015  54.401667  12.445370
121  2016  54.915000  12.730556
122  2017  54.551667  12.528704
123  2018  53.518333  11.954630
124  2019  52.671667  11.484259

[125 rows x 3 columns]