# SNScrape Test

In [1]:
!snscrape twitter-user robikscube > out.txt

In [2]:
import pandas as pd

## Example pulling tweets

In [3]:
%load_ext lab_black

In [22]:
# importing libraries and packages
import snscrape.modules.twitter as sntwitter
import pandas
from tqdm.notebook import tqdm

# Creating list to append tweet data
tweets_list1 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in tqdm(
    enumerate(sntwitter.TwitterSearchScraper("from:Rob_Mulla").get_items()), total=1000
):  # declare a username
    if i > 1000:  # number of tweets you want to scrape
        break
    tweets_list1.append(
        [tweet.date, tweet.id, tweet.content, tweet.user.username]
    )  # declare the attributes to be returned
    break
# Creating a dataframe from the tweets list above
tweets_df1 = pd.DataFrame(
    tweets_list1, columns=["Datetime", "Tweet Id", "Text", "Username"]
)

  0%|          | 0/1000 [00:00<?, ?it/s]

'https://pbs.twimg.com/media/FVNwgF0XEAET5m3?format=jpg&name=large'

In [18]:
tweets_df1[["Datetime", "Text"]]

,Datetime,Text
0,2022-06-14 13:03:14+00:00,Object Detection in 10 minutes with YOLOv5 and...
1,2022-06-10 13:26:14+00:00,üé• + üêç = üî•\nEver wondered how to work with vide...
2,2022-06-09 17:47:22+00:00,@extremesaro They might just be bots to you. B...
3,2022-06-09 15:59:15+00:00,30 minutes after posting my latest YouTube vid...
4,2022-06-03 14:06:02+00:00,"@levyvix3 Thanks man, love any feedback! I'm t..."
...,...,...
362,2008-11-06 15:03:13+00:00,Getting excited for football to return to Blac...
363,2008-11-05 22:39:07+00:00,Trying to find some people to follow on twitter
364,2008-11-05 21:29:34+00:00,Logging onto twitter for the first time in a l...
365,2008-06-07 18:18:16+00:00,Going to watch a UFC fight with Big O and Dukes
366,2008-04-17 03:42:14+00:00,about to go to bed. Just had 6th grade night.