# Roller Coaster Data Pull
- Twitch Stream Project

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import wikipediaapi
from tqdm import tqdm
# Our code import
from coaster import parse_coaster_infobox

# Pull Data for Operating Coasters

In [4]:
wiki = wikipediaapi.Wikipedia('en')
cat = wiki.page('Category:Operating roller coasters')
len(cat.categorymembers)
DEBUG = True
ds = []
i = 0
for coaster, page in tqdm(cat.categorymembers.items()):
    url = page.fullurl
    ds.append(parse_coaster_infobox(url, filter_cols=False))
    i += 1
    if i == 30 and DEBUG:
        break
if not DEBUG:
    coaster_db = pd.concat(ds)

  4%|▍         | 29/695 [00:04<01:46,  6.28it/s]

In [250]:
coaster_db.to_csv('dbv1.csv')

# Data for All Coasters

In [3]:
url = 'https://en.wikipedia.org/wiki/Euclid_Beach_Park'
df = pd.read_html(url, attrs= {'class': 'infobox'})[0]

In [55]:
DEBUG = False
wiki = wikipediaapi.Wikipedia('en')
cat = wiki.page('Category:Roller_coaster_introductions_by_year')
i = 0
ds = []
for year in tqdm(cat.categorymembers):
    cat_year = wiki.page(year)
    cat_year.categorymembers
    for coaster, page in cat_year.categorymembers.items():
        url = page.fullurl
        ds.append(parse_coaster_infobox(url, coaster, filter_cols=True))
        i += 1
    if i == 20 and DEBUG:
        break
if not DEBUG:
    coaster_db = pd.concat(ds)

100%|██████████| 101/101 [03:13<00:00,  1.92s/it]

In [56]:
# (~coaster_db.isna()).sum().to_frame().rename(columns={0:'count'}) \
#     .query('count > 20') \
#     ['count'].sort_values(ascending=True) \
#     .plot(kind='barh',
#           figsize=(15, 20)
#          )

In [60]:
MAIN_KEYS = ['coaster_name', 'Length', 'Speed', 'Location', 'Coordinates',
                     'Status', 'Opening date',
                     'General statistics', 'Type', 'Manufacturer',
                     'Height restriction',
                     'Model', 'Height', 'Inversions', 'Lift/launch system',
                     'Cost', 'Trains',
                     'Park section', 'Duration', 'Capacity',
                     'G-force', 'Designer',
                     'Max vertical angle', 'Drop', 'Soft opening date',
                     'Fast Lane available', 'Replaced', 'Track layout',
                     'Fastrack available','Soft opening date',
                     'Closing date', 'Opened', 'Replaced by', 'General Statistics',
                     'Website', 'Flash Pass Available', 'Must transfer from wheelchair',
                     'Theme', 'Single rider line available',
                     'Restraint Style',
                      'Flash Pass available', 'Acceleration',
                      'Restraints', 'Name']

In [64]:
coaster_db[['coaster_name']]

                                                                              coaster_name
Switchback Railway                                                      Switchback Railway
Flip Flap Railway                                                        Flip Flap Railway
0                                                   Switchback Railway (Euclid Beach Park)
Loop the Loop                                                 Loop the Loop (Coney Island)
Loop the Loop                                                 Loop the Loop (Young's Pier)
...                                                                                    ...
American Dreier Looping                                            American Dreier Looping
(Pantheon, Busch Gardens Williamsburg)                           Pantheon (roller coaster)
Tron Lightcycle Power RunChinese: 创极速光轮                          Tron Lightcycle Power Run
Tumbili                                                                            Tumbili
(Wonder Woman Flight of Courage, Six Flags Magi...          Wonder Woman Flight of Courage

[1088 rows x 1 columns]

In [67]:
coaster_db[MAIN_KEYS].to_csv('coaster_db_v1.csv')