# Search Term Analysis

In [1]:
import pandas as pd
import numpy as np

%load_ext lab_black

In [7]:
df = pd.read_csv('python-youtube-search-autocomplete.csv', header=None)
df.columns = ['term','autocomplete']

## Data Science - Search on youtube autocomplete

In [42]:
ds = pd.read_csv("data-science-youtube-autocomplete.csv")
ds["words"] = ds["autocomplete"].str.replace("data science", "")

ds["words"].str.split(" ").explode().replace("", np.nan).dropna().value_counts().head(
    25
)

interview      20
for            19
and            13
week           13
in             11
questions      11
engineers      10
vs             10
course         10
day            10
6               9
python          8
project         8
5               8
or              7
engineering     7
data            7
8               7
2022            6
4               6
projects        6
learning        6
analytics       6
with            5
class           5
Name: words, dtype: int64

In [40]:
ds.loc[ds["autocomplete"].str.contains("interview")]

,term,autocomplete,words
7,data science,data science mock interview,mock interview
11,data science,data science interview questions,interview questions
24,data science,data science statistics interview questions,statistics interview questions
52,data science,data science coding interview,coding interview
62,data science,data science technical interview questions,technical interview questions
63,data science,data science manager interview questions,manager interview questions
71,data science,data science google interview,google interview
78,data science,data science interview preparation,interview preparation
93,data science,data science associate zs interview,associate zs interview
102,data science,data science case interview,case interview
113,data science,data science sql interview questions,sql interview questions
121,data science,data science technical interview,technical interview
131,data science,data science leadership interview questions,leadership interview questions
145,data science,data science interview pro,interview pro
174,data science,data science case study interview,case study interview
259,data science,data science job interview,job interview
272,data science,data science internship interview questions,internship interview questions
285,data science,data science interview,interview
292,data science,data science interview questions and answers,interview questions and answers
318,data science,data science design interview,design interview

In [43]:
ds.loc[ds["autocomplete"].str.contains("project")]

,term,autocomplete,words
22,data science,5 data science projects,5 projects
59,data science,data science end to end project,end to end project
100,data science,data science project from scratch,project from scratch
124,data science,data science with python projects,with python projects
137,data science,data science live project,live project
153,data science,data science projects for beginners,projects for beginners
161,data science,data science beginner projects,beginner projects
199,data science,data science final year projects,final year projects
214,data science,data science portfolio project,portfolio project
233,data science,data science project,project
252,data science,data science project walkthrough,project walkthrough
280,data science,data science projects for resume,projects for resume
300,data science,data science python project,python project
307,data science,data science real life project,real life project